@mixin list_type_theme($color-default) {
  div.banner {
    background-color: darken($color-default, 15%);
  }
}

div.display-page {
  div.banner {
    height: 6rem;

    h3 {
      color: $white;
      text-transform: capitalize;
      margin: auto;
    }
  }

  &.theme-1 {
    @include list_type_theme($blue);
  }

  &.theme-2 {
    @include list_type_theme($green);
  }

  &.theme-3 {
    @include list_type_theme($maroon);
  }

  &.theme-4 {
    @include list_type_theme($purple);
  }
}
