.card-icon {
  display: inline-block;
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;

  .card-image {
    height: 50px;
    width: 40px;

    &.used {
      filter: grayscale(100%);
    }
  }
}
