.cards-remaining-container.row {
  // background-color: $lighter-black;
  color: $black;
  display: block;

  .title {
    margin: auto;
  }

  div.col {
    .cards-container {
      padding: 1.5%;
    }
  }
}
