div.inline-edit {
  height: 100%;

  input, h6 {
    border: none;
    box-shadow: none;
    font-size: 1.4rem;
    color: $black;
    // position: absolute;
    // right: .5rem;
    // bottom: .5rem;
    // text-align: right;
    // padding: 0;
    // max-width: 80%;
  }

  input:focus {
    outline: none;
    border: none;
    box-shadow: none;
    color: $black;
  }
}
