ul.nav {
  background-color: $black;

  li.nav-item {
    a {
      border-bottom: solid $black 0.2em;

      &:hover {
        color: $white;
        border-bottom: solid $white 0.2em;
      }
    }
  }
}
