.tier-list-container.row {
  background-color: $light-gray;

  div.col {
    .tier-list-header.row {
      border-radius: .3em;
      margin-bottom: 1em;
      display: block;

      h4 {
        text-align: center;
      }
    }
  }
}
