.tier-list-container.row {
  border: solid .2em $black;
  border-radius: .5em;
  margin: 2% 0 2% 0;
  padding: 0 0 2% 0;

  .tier-list-header.row {
    padding: 2%;
    background-color: $black;
    border-radius: .3em;
    margin-bottom: 1em;
    display: block;
    color: $white;
  }
}
