.tier {
  margin-bottom: .4em;

  .title {
    padding: .1em;
    position: relative;

    h6 {
      position: absolute;
      font-size: 0.9em;
      bottom: 20%;
      right: 10%;
      color: $white;
    }
  }

  .cards-container {
    border-bottom: solid .1em;
    padding-bottom: .4em;
  }
}
