div.tier-list-container.row {

  div.col {
    div.tier-list-header.row {
      border-radius: .3rem;
      margin-bottom: 1rem;
      display: block;
      text-align: center;
    }

    button.btn {
      display: block;
    }

    div.switch {
      display: block;
    }
  }
}
