main {
  font-family: sans-serif;

  div.body.container {
    width: 100%;
    padding: 0;

    &> div.row {
      padding: 1%;
      margin: 0;

      div.panel {
        background-color: $white;
        border-radius: 10px;
        padding: 2%;
        margin: 0;
        box-shadow: 0px 0px 3px $black;
      }
    }
  }
}
