@import url(~react-toggle-switch/dist/css/switch.min.css);
body {
  /* Position and sizing of burger button */
  /* Color/shape of burger icon bars */
  /* Position and sizing of clickable cross button */
  /* Color/shape of close button cross */
  /* General sidebar styles */
  /* Morph shape necessary with bubble or elastic */
  /* Wrapper for item list */
  /* Styling of overlay */ }
  body main {
    font-family: sans-serif; }
    body main div.body.container {
      width: 100%;
      padding: 0; }
      body main div.body.container > div.row {
        padding: 4%;
        margin: 0;
        background-color: #e0dfdf; }
        body main div.body.container > div.row div.panel {
          background-color: #fff;
          border-radius: 10px;
          padding: 4%;
          box-shadow: 0px 0px 3px #000000; }
  body .card-icon {
    display: inline-block;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px; }
    body .card-icon .card-image {
      height: 50px;
      width: 40px; }
      body .card-icon .card-image.disabled {
        filter: grayscale(100%); }
  body .dropdown {
    display: inline-block; }
  body .dropdown__content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 10; }
    body .dropdown__content ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      body .dropdown__content ul li {
        min-width: 5rem;
        min-height: 2rem;
        text-align: center;
        border: solid; }
  body .dropdown--active .dropdown__content {
    display: block; }
  body .tier {
    margin-bottom: .4rem; }
    body .tier .title {
      padding: .1rem;
      position: relative; }
      body .tier .title h6 {
        position: absolute;
        font-size: 1.8rem;
        bottom: 20%;
        right: 10%; }
    body .tier .cards-container {
      border-bottom: solid .1rem;
      padding-bottom: .4rem; }
  body .cards-remaining-container.row {
    color: #000000;
    display: block; }
    body .cards-remaining-container.row .title {
      margin: auto; }
    body .cards-remaining-container.row div.col .cards-container {
      padding: 1.5%; }
  body ul.nav {
    background-color: #000000;
    display: block; }
    body ul.nav li.nav-item {
      display: inline-block; }
      body ul.nav li.nav-item.right {
        float: right; }
      body ul.nav li.nav-item a {
        border-bottom: solid #000000 0.2rem; }
        body ul.nav li.nav-item a:hover {
          color: #fff;
          border-bottom: solid #fff 0.2rem; }
  body .bm-burger-button {
    display: none;
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px; }
  body .bm-burger-bars {
    background: #373a47; }
  body .bm-cross-button {
    height: 24px;
    width: 24px; }
  body .bm-cross {
    background: #bdc3c7; }
  body .bm-menu {
    background: #373a47;
    padding: 2.5rem 1.5rem 0;
    font-size: 1.15rem; }
  body .bm-morph-shape {
    fill: #373a47; }
  body .bm-item-list {
    color: #b8b7ad;
    padding: 0.8rem; }
  body .bm-overlay {
    background: rgba(0, 0, 0, 0.3); }
  body .tier-list-container.row div.col .tier-list-header.row {
    border-radius: .3rem;
    margin-bottom: 1rem;
    display: block; }
    body .tier-list-container.row div.col .tier-list-header.row h4 {
      text-align: center; }
  body .tier-list-container.row div.col button.btn {
    display: block; }
  body .tier-list-container.row div.col div.switch {
    display: block; }
  body div.sorted-cards-container.row {
    padding-top: 2%; }
