body main {
  margin: 5%; }

body .card-icon {
  display: inline-block;
  width: 50px; }

body .card-icon .card-image {
  height: 50px;
  width: 40px; }

body .tier {
  padding: 1em;
  border: solid; }
