body body {
  font-family: Verdana; }

body .card-icon {
  display: inline-block;
  width: 50px; }

body .card-icon .card-image {
  height: 50px;
  width: 40px; }

body .tier {
  padding: 1em;
  border: solid; }

body .cards-remaining-container {
  padding: 1em;
  border: solid; }

body .cards-container {
  padding: 0.5em;
  border: solid; }

body nav {
  background-color: #444; }

body nav .nav-item a {
  border-bottom: solid #444 0.2em; }

body nav .nav-item a:hover {
  color: #fff;
  border-bottom: solid #fff 0.2em; }
